* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* .checkout_heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  } */
  
  :root {
    --color-primary: rgb(63, 136, 148);
    --color-secondary: rgb(36, 36, 36);
    --color-tertiary: rgb(167, 167, 167);
  
  }
  
  body {
    font-family: 'Lato', sans-serif;
  }
  
  .container {
    padding: 50px;
    margin-top: 80px;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
  }
  
  .details__column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 13px 20px;
  }
  
  .detail-full {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
  }

  .title {
    text-align: center;
  }
  
  .detail-half-1 {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
  }
  
  .detail-half-2 {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
  }
  
  .form-item label {
    margin-bottom: 5px;
    color: var(--color-tertiary);
    font-size: 15px;
  }
  
  .form-item input {
    border: .6px solid var(--color-tertiary);
    border-radius: 4px;
    padding: 15px;
    color: rgb(36, 36, 36);
    font-size: 14px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all .2s;
  }
  
  .form-item input:focus {
    border: 1.2px solid var(---color-primary);
  }
  
  .details__header {
    margin: 15px 0 5px;
    color: var(--color-tertiary);
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: .1px solid var(--color-tertiary);
  }
  
  .detail__submit {
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--color-primary);
    box-shadow: 0px 0px 6px var(--color-primary);
    outline: none;
    transition: all .2s;
    cursor: pointer;
    
  }
  
  .detail__submit:hover {
    background-color: var(--color-secondary);
  }
  
  /* Cart */
  
  .cart__list {
    width: 100%;
  }
  
  .cart__item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: .1px solid var(--color-tertiary);
    padding: 20px 0;
  }
  
  .cart__item--image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 6px;
  }
  
  .cart__item--info {
    display: flex;
    flex-direction: column;
    width: 260px;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: -40px;
  }
  
  .cart__item--info h4 {
    margin-left: 70px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    color: rgb(36, 36, 36);
  }
  
  .cart__item--info p {
    margin-left: 70px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    color: var(--color-tertiary);
  }
  
  .cart__item--quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    color: #fff;
    background-color: var(---color-primary);
  }
  
  .cart__item--price {
    font-size: 16px;
    font-weight: 700;
    color: rgb(36, 36, 36);
  
  }
  
  .cart__price {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    border-bottom: .1px solid var(--color-tertiary);
    padding: 20px 0;
    color: rgb(36, 36, 36);
  
  }
  
  .price__detail {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
  }
  
  .price__detail h4 {
    font-size: 16px;
    font-weight: 400;
  }
  
  .price__total {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
  }

.container-payment {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.payment-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-in input {
  margin-left: 120px;
}


    